{
  CIDER: {
    cider_version: "0.48.0",
    dependencies: {
      nuget: "",
      tatin: "deps",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "Dist",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "Selenium",
    project_url: "",
    source: "APLSource",
    tests: "",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
